* {
       margin: 0;
       padding: 0;
       box-sizing: border-box;
}
     
.menu-container {
       color: #fff;
       background-color: #5995DA;  /* Blue */
       padding: 20px 0;
       display: flex;
       justify-content: space-around;
}
     
.menu {
       border: 1px solid #fff;  /* For debugging */
       width: 900px;
       flex: 1;
       display: flex;
       /* justify-content: space-around; */
}

.menu div{
       padding: 20px;
       border: 2px;
       flex:1;

}





/* leaning flex box above */












.recipe{
       font-style: italic;
}


h1{
 background-color: violet;
 font-weight: lighter;
}

.try{
       background-color: blue;
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#ing {
 background-color: brown;
}

#para{
       background-color: pink;
}